@import "../../index.css";

.__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#submit:disabled,
#submit[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

[data-otp="OTP"]:disabled,
[data-otp="OTP"][disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.forgot__passsword {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

#customer_link > span {
    color: blue !important;
}

.dialog__modal {
    border: none;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
#otp::-webkit-outer-spin-button,
#otp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#otp[type="number"] {
    -moz-appearance: textfield;
}
